# Supply-chain hardening: wait 3 days after publish before installing a new
# version. Catches typo-squat / compromise windows where the malicious version
# is yanked before it propagates. See:
# https://pnpm.io/settings#minimumreleaseage
minimum-release-age=4320
# First-party packages we publish ourselves should not block our own iteration.
minimum-release-age-exclude=@cloudflare/*
ignore-pnpmfile=true
